@model IEnumerable<DatabaseApprochCrud.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-controller="Employee" asp-action="Logout">Logout</a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobbies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @item.FirstName
            </td>
            <td>
                 @item.LastName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Password
            </td>
            <td>
                 @(item.Gender == 1 ?"Male" : "Female")
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.Country
            </td>
            <td>
                @item.Hobbies
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
